
* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    background: white;
}

.left-actions {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.app-name {
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.super-s {
    font-size: 10px;
    font-weight: 200;
}

.mid-actions {
    display: flex;
    align-items: center;
}

.searchInput {
    height: 35px;
    width: 300px;
    border-radius: 17px 0 0 17px;
    border: 0.1px solid lightgray;
    padding: 5px 10px;
}

.searchButton {
    height: 35px;
    border-radius: 0 17px 17px 0;
    border: 0.1px solid lightgray;
    padding: 5px 10px;
    cursor: pointer;
}

.right-actions {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.signin-btn {
    border-radius: 15px;
    height: 35px;
    width: 90px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
    background: white;
    border: 0.1px solid lightgray;
    cursor: pointer;
}

.user-profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.logout-btn {
    position: fixed;
    top: 50px;
    right: 6px;
    background-color: blanchedalmond;
    padding: 10px;
    cursor: pointer;
}

