
* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px 20px;
    background: white;
}

.left-actions {
    display: flex;
    align-items: center;
}

.header-icon {
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}

.header-icon:hover  { 
    background-color: #ddd9d9;    
    transition: background-color, 1s;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 23px;
    margin-left: 15px;
    cursor: pointer;
}

.app-name {
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.super-s {
    font-size: 10px;
    font-weight: 200;
}

.mid-actions {
    display: flex;
    align-items: center;
}

.searchInput {
    height: 40px;
    width: 500px;
    border-radius: 20px 0 0 20px;
    border: 0.1px solid lightgray;
    padding: 5px 20px;
    font-size: 15px;
}

.searchButton {
    width: 70px;
    height: 40px;
    border-radius: 0 20px 20px 0;
    border: 0.1px solid lightgray;
    padding: 7px 10px;
    cursor: pointer;
    color: rgb(50, 49, 49);
    background-color: #eeecec;
    font-weight: 100;
    margin-right: 20px;
}

.searchButton:hover {
    background-color: #dedbdb;
    transition: background-color, 1s;
}

.right-actions {
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;
    margin-right: 15px;
}

.signin-btn {
    border-radius: 15px;
    height: 35px;
    width: 90px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
    background: white;
    border: 0.1px solid lightgray;
    cursor: pointer;
}

.user-profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: 0.1px solid lightgray;
}

.logout-btn {
    position: fixed;
    top: 50px;
    right: 6px;
    background-color: blanchedalmond;
    padding: 10px;
    cursor: pointer;
}

