
.left-sidebar {
    width: 16%;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    position: fixed;
}

.left-sidebar::-webkit-scrollbar {
    background-color: transparent;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 30px;
    border: 3.5px solid transparent;
    background-clip: content-box;
}

.left-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156, 155, 155);
}

.left-sidebar div {
    width: 90%;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-sidebar div:hover {
    background-color: #eeecec;
}

.leftSidebar-icon {
    margin-right: 20px;
}

.left-sidebar hr {
    width: 95%;
    margin: 10px 0px;
}

.left-sidebar-heading {
    font-size: 18px;
    align-self: flex-start;
    margin: 5px 0;
    margin-left: 20px;
}

.left-sidebar .bottom-para {
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    align-self: flex-start;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: auto;
}

.left-sidebar .bottom-para:hover {
    background-color: transparent;
}

.bottom-para p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    color: rgb(85, 84, 84);
    margin-bottom: -12px;
}

.bottom-para span {
    margin-right: 4px;
    cursor: pointer;
}

.copy-right {
    align-self: flex-start;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12.5px;
    color: #939191;
    font-weight: 400;
    margin-bottom: 20px;
}