
.left-sidebar {
    width: 16%;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-sidebar::-webkit-scrollbar {
    background-color: transparent;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 30px;
    border: 3.5px solid transparent;
    background-clip: content-box;
}

.left-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156, 155, 155);
}

.left-sidebar div {
    width: 90%;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-sidebar div:hover {
    background-color: #eeecec;
}

.leftSidebar-icon {
    margin-right: 20px;
}

.left-sidebar hr {
    width: 95%;
    margin: 10px 0px;
}

.left-sidebar-heading {
    font-size: 18px;
    align-self: flex-start;
    margin: 5px 0;
    margin-left: 20px;
}

.bottom-para {
    align-self: flex-start;
    width: 80%;
    font-size: 15px;

}