
.tags {
    display: flex;
    margin: 10px 20px;
    overflow-x: scroll;
    font-size: 15px;
    font-weight: 500;    
}

.tags::-webkit-scrollbar {
    display: none;
} 

.single-tag {
    padding: 5px 10px 7px 10px;
    border-radius: 5px;
    background-color: #eeecec;
    color: #2b2b2b;
    margin: 0 6px;
    cursor: pointer;
}

.single-tag:hover {
    background-color: #dedbdb;
    transition: background-color, 1s;
}

.selected-tag {
    background-color: black ;
    color: white;
}

.videos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin: 35px 70px;
}

.single-video {
    width: 360px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    cursor: pointer;
}

.thumbnail-image {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

.video-details {
    width: 100%;
    padding: 0 5px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.channel-image {
    border-radius: 50%;
    margin-top: 15px;
}

.name-details {
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.video-name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.channel-name {
    margin-top: 0px;
    margin-bottom: -10px;
    color: #615f5f;
    font-weight: 500;
}

.views-time {
    font-size: 14px;
    font-weight: 500;
    color: #615f5f;
}

.three-dots {
    margin-top: 15px;
    position: absolute;
    right: 0px;
}



/* .channel-details {
    margin-top: -10px;
    color: rgb(107, 106, 106);
    font-size: 13px;
    font-weight: 500;
    margin-left: 40px;
    margin-top: -10px;
}

.channel-details div {
    margin-top: -10px;
} */