
.video-upload-page {
    width: 50%;
    margin: 80px;
}

.video-upload-title {
    width: 100%;
    padding: 10px 0;
    text-align: left;
    border-bottom: 2px;
    border-bottom-style: dashed;
}

.video-upload-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.action-label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-tag {
    width: 50%;
    height: 40px;
    font-size: 17px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid rgb(169, 167, 167);
}

.description-tag {
    width: 50%;
    height: 80px;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(169, 167, 167);
    resize: none;
}



.upload-action {
    font-size: 17px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    padding: 10px 20px;
    cursor: pointer;
}

.upload-action:disabled {
    cursor: not-allowed;
}

